
  :root {
    --theme-color: rgba(8, 8, 8, 0.972);
    }
    .body{
      /* background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0,0,0,.7)),
      url(assets/man.jpg); */
      background-size: cover;
      background-color: rgba(54, 42, 42, 0.034);
      background-position: center;
      overflow-x: hidden;
      background-attachment: fixed;
    }
    *{
      transition: .5s;
    }.App {
      height: 100vh;
      width: 100vw;
    }
    
    
